html body{
    margin: 0;
    padding: 0;
}

* > button{
    background: none;
}

.main-container{
    height: 100vh;
    width: 100%;
}

.header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about, .store, .gmail, .images{
    border: none;
    cursor: pointer;
}

.right-section{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu, .profile{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu img{
    width: 50%;
    height: 50%;
}

.profile img{
    width: 50%;
    height: 50%;
    border: 2px solid black;
    border-radius: 50%;
}

.body-container{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subBody{
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gPNG{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gPNG img{
    height: 100%;
    width: auto;
    cursor: pointer;
}

.search-bar{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 25px;
    padding: 0 1% 0 1%;
}

.l_con{
    width: 5%;
    height: auto;
    display: flex;
    padding: 1%;
}

.l_con img{
    height: 100%;
    width: auto;
    cursor: pointer;
}

.inp{
    width: 80%;
    height: auto;
    display: flex;
}

.inp input{
    width: 100%;
    height: auto;
    outline: none;
    border: none;
    font-size: large;
}

.r_con{
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.r_con div{
    width: 100%;
    height: auto;
    padding: 4%;
    display: flex;
}

.r_con img{
    width: 100%;
    height: auto;
    cursor: pointer;
}

.others-item{
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.others-item div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.others-item button{
    padding: 2%;
    border: none;
    box-shadow: 2px 2px gainsboro;
    cursor: pointer;
}

.language-bar{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-bar a{
    text-decoration: none;
}

.footer{
    height: 10%;
    width: 100%;
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer label, .footer a{
    margin: 2%;
    text-decoration: none;
    color: black;
}